

<!-- Toolbar -->
<div class="toolbar" role="banner">
  
    <div class="container">
      <h1 class="navbar-heading mx-2">Welcome To Meeting Room Booking System</h1>
    </div>
  
    <div class="spacer"></div>
    <div class="demo-section">
      <mat-icon matBadge="15">home</mat-icon>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
          Example with a home icon with overlaid badge showing the number 15
        </span>
    </div>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon matBadge="15">favorite</mat-icon>
      </button>
    </a>
</div>
<router-outlet></router-outlet>
