

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1 class="mx-2">Welcome Meeting Room Booking System</h1>
    <div class="spacer"></div>
    <a routerLink="/list" style="color: white;">Bookinglist</a>&nbsp;&nbsp;
   
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </a>
</div>
<router-outlet></router-outlet>
